:root {
    --corFundo: #A3CFCD;
    --corPrincipal: #000000;
    --corSecundaria: #82A0AA;
    --corComplementar: #2A272A;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,500;0,600;1,100&display=swap');

body {
    background-color: var(--corFundo);
}


h1 {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    color: var(--corPrincipal);
    background-color: var(--corSecundaria);
    margin: 20px;
}

p {
    font-family: 'Roboto Mono', monospace;
    font-weight: 100;
}

h2 {
    color: var(--corComplementar);
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
}

a {
    color: var(--corPrincipal);
}

img {
    border-radius: 10%;
}



/*Classes*/

.conteudo-padrao {
    display: inline-block;
    width: 48%;
    border: 5px #000000 solid;
}